<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="Home"><mat-icon>fact_check
</mat-icon> PWA-1002
        </a>
    </span>
   <!-- <div>
        <a routerLink="operasBas" matButton>operasBas</a>
    </div>-->
    <div class="container">
    
        <a mat-list-item routerLinkActive="active" routerLink="Temperatura">
            <mat-icon color="accent">add</mat-icon>
            Temperatura
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="Cinepolis">
            <mat-icon color="accent">add</mat-icon>
            Cinepolis
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="Multiplicacion">
            <mat-icon color="accent">add</mat-icon>
            Multiplicacion
        </a>
    </div>
    
   
</mat-toolbar>
<router-outlet></router-outlet>


